.App {
  display: flex;
  height: 100vh; /* Full height */
  margin: 0; /* Remove default margin */
  
}


.Sidebar {
  width: 100px; /* Adjust the width as needed */
  background-color: #f4f4f4; /* Sidebar background color */
  padding: 20px; /* Padding inside the sidebar */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin-right:5%/* Optional shadow for the sidebar */
}

Dashboard {
  flex: 1; /* Takes up the remaining space */
  padding: 20px; /* Padding inside the dashboard */
}
